
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2017/03/29/Pictures/_b4ecaf36-148a-11e7-a5d6-c47fceabb9c0.jpg');
    background-repeat: no-repeat;
  background-size:cover;
  
  
    
  }
  .label{
    color:#ffffff
  }
  
  .signup-form {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 300px;
    opacity:0.8;
    margin-top:-50px;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 10px;
    margin-right:10px;
  }
  .ptag{
    color:white;
    text-align: center;
    
  }
  .navtag{
    color: white;;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  